In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
from bs4 import BeautifulSoup # documentation available at : www.crummy.com/software/BeautifulSoup/bs4/doc/
import requests # sends http requests and access the page : docs.python-requests.org/en/latest/
import csv # creates the output csv file
#import unicodedata # works with string encoding of the data

In [ ]:
entries = []
entry = []
urlnumber = 2 # Give the page number to start with

while len(entries) <= 5100: # Give the entry count to end with

    url = 'http://forums.edmunds.com/discussion/2864/general/x/entry-level-luxury-performance-sedans/p%d' % (urlnumber,) # Give the url of the forum, excluding the page number in the hyperlink

    try:
        r = requests.get(url, timeout = 10) # Sending a request to access the page
    except Exception as e:
        print("Error message:",e)
        break;

    data = r.text
    
    soup = BeautifulSoup(data, 'lxml') # Getting the page source into the soup
    
    for div in soup.find_all('div'):
        entry = []
        if(div.get('class') != None and div.get('class')[0] == 'Comment'): # A single post is referred to as a comment. Each comment is a block denoted in a div tag which has a class called comment.
            ps = div.find_all('p') # gets all the tags called p to a variable ps
            aas = div.find_all('a') # gets all the tags called a to a variable aas
            spans = div.find_all('span')
            times = div.find_all('time') # used to extract the time tag which gives the iDate of the post

            concat_str = ''
            for str in aas[1].contents: # prints the contents that is between the tag start and end
                if str != "<br>" or str != "<br/>": # breaks in post which we need to work around
                    concat_str = (concat_str + ' '+ str).encode("utf-8").strip() # the format extracted is a unicode - we need a uniform structure to work with the strings
            entry.append(concat_str)

            concat_str = ''
            for str in times[0].contents:
                if str != "<br>" or str != "<br/>":
                    concat_str = (concat_str + ' '+ str).encode('iso-8859-1').strip()
            entry.append(concat_str)

            for div in div.find_all('div'):
                if (div.get('class') != None and div.get('class')[0] == 'Message'): # extracting the div tag with the class attribute as message
                    blockquotes = []
                    x = div.get_text()
                    for bl in div.find_all('blockquote'):
                        blockquotes.append(bl.get_text()) # block quote is used to get the quote made by a person. get_text helps to eliminate the hyperlinks and pulls out only the data.
                        bl.decompose()
                    # Encoding the text to ascii code by replacing the non-ascii characters
                    ascii_encoding = div.get_text().replace("\n"," ").replace("<br/>","").encode('ascii','replace')
                    # Convert the ASCII encoding to Latin1 encoding
                    latin1_encoding = ascii_encoding.decode('ascii').encode('iso-8859-1')
                    # Append the encoding bytes to output list
                    entry.append(latin1_encoding)

                    for bl in blockquotes:
                        ascii_encoding = bl.replace("\n"," ").replace("<br/>","").encode('ascii','replace')
                        latin1_encoding = ascii_encoding.decode('ascii').encode('iso-8859-1')
                        entry.append(latin1_encoding)

            entries.append(entry)
            
    urlnumber += 1

# Convert a list of byte to list a of string     
stringlist=[[x.decode('iso-8859-1') for x in entry] for entry in entries]
# Save the list to a csv file
with open('edmunds_extraction.csv', 'w') as output:
    writer = csv.writer(output, quoting=csv.QUOTE_ALL)
    writer.writerows(stringlist)

print ("Wrote to edmunds_extraction.csv")

### Task A: Identify top 10 brands by frequency. From the posts, calculate lift ratios for associations between the brands. You will have to write a script to do this task. Show the brands on a multidimensional scaling (MDS) map.

### Read in scrapped comments

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import MDS
import re

In [2]:
import spacy
import spacy.cli?
# spacy.cli.download("en_core_web_sm")
from spacy.lang.en import stop_words

In [3]:
# import os
# os.chdir(r'/Users/yanhuanhuang/Desktop/MMA/INSY669-Text Analytics/Group Project/INSY669-Text-Analytics-')

In [4]:
# Documents
doc = pd.read_csv('edmunds_extraction.csv', header=None)
doc

,0,1,2
0,wishnhigh1,April 2002,The problem is that they are HUGE generalizat...
1,kd6aw1,April 2002,Have found out that with some of the more pow...
2,fwatson,April 2002,How does your theory explain English cars? A ...
3,dave330i,April 2002,"""Being that it is an automatic I can enjoy my..."
4,blueguydotcom,April 2002,"He did mention ""in rush hour traffic."" Like t..."
...,...,...,...
5145,laurasdada,May 2006,"I had a '99 300M, loved it. New 300? Well, th..."
5146,ivorypearlg,May 2006,I've been in the 300M and 300C... Much differ...
5147,shipo,May 2006,"I don't know, maybe it's just me or maybe my ..."
5148,dhanley,May 2006,"Actually, the m35x gets 17/24 mpg, same as th..."
5149,ivorypearlg,May 2006,So sorry for the comparo... I should have did...

In [5]:
# add column name
doc.columns = ["users", "time", "txt"]
doc.head()

,users,time,txt
0,wishnhigh1,April 2002,The problem is that they are HUGE generalizat...
1,kd6aw1,April 2002,Have found out that with some of the more pow...
2,fwatson,April 2002,How does your theory explain English cars? A ...
3,dave330i,April 2002,"""Being that it is an automatic I can enjoy my..."
4,blueguydotcom,April 2002,"He did mention ""in rush hour traffic."" Like t..."

In [6]:
# tokenize and lower case
import nltk
from nltk import word_tokenize

tokens = []
for i in range(len(doc)):
    tokens.append(word_tokenize(doc.loc[i,'txt'].lower()))
doc['txt_tokenized'] = tokens

In [7]:
doc

,users,time,txt,txt_tokenized
0,wishnhigh1,April 2002,The problem is that they are HUGE generalizat...,"[the, problem, is, that, they, are, huge, gene..."
1,kd6aw1,April 2002,Have found out that with some of the more pow...,"[have, found, out, that, with, some, of, the, ..."
2,fwatson,April 2002,How does your theory explain English cars? A ...,"[how, does, your, theory, explain, english, ca..."
3,dave330i,April 2002,"""Being that it is an automatic I can enjoy my...","[``, being, that, it, is, an, automatic, i, ca..."
4,blueguydotcom,April 2002,"He did mention ""in rush hour traffic."" Like t...","[he, did, mention, ``, in, rush, hour, traffic..."
...,...,...,...,...
5145,laurasdada,May 2006,"I had a '99 300M, loved it. New 300? Well, th...","[i, had, a, '99, 300m, ,, loved, it, ., new, 3..."
5146,ivorypearlg,May 2006,I've been in the 300M and 300C... Much differ...,"[i, 've, been, in, the, 300m, and, 300c, ..., ..."
5147,shipo,May 2006,"I don't know, maybe it's just me or maybe my ...","[i, do, n't, know, ,, maybe, it, 's, just, me,..."
5148,dhanley,May 2006,"Actually, the m35x gets 17/24 mpg, same as th...","[actually, ,, the, m35x, gets, 17/24, mpg, ,, ..."
5149,ivorypearlg,May 2006,So sorry for the comparo... I should have did...,"[so, sorry, for, the, comparo, ..., i, should,..."

### Read in models to brands mapping csv

In [8]:
# read in brand model mapping csv
model_brand_mapping = pd.read_csv("models (2).csv", header = None)
model_brand_mapping.columns = ["brand", "model"]
model_brand_mapping

     brand    model
0    acura  integra
1    acura   Legend
2    acura    vigor
3    acura      rlx
4    acura      ILX
..     ...      ...
523  volvo     xc90
524  volvo      s60
525  volvo      s80
526  volvo      v60
527  volvo      c70

[528 rows x 2 columns]

In [28]:
extra_mapping = [{'brand': 'acura', 'model': 'tl'},
 {'brand': 'acura', 'model': 'tlx'},
 {'brand': 'acura', 'model': 'tlxs'},
 {'brand': 'alfaromeo', 'model': 'alfa'},
 {'brand': 'alfaromeo', 'model': 'giulia'},
 {'brand': 'audi', 'model': 'b8'},
 {'brand': 'audi', 'model': 'rs3'},
 {'brand': 'audi', 'model': 'rs4'},
 {'brand': 'audi', 'model': 'rs7'},
 {'brand': 'audi', 'model': 'rsq3'},
 {'brand': 'audi', 'model': 'rsq5'},
 {'brand': 'audi', 'model': 's3'},
 {'brand': 'audi', 'model': 's4'},
 {'brand': 'audi', 'model': 's5'},
 {'brand': 'audi', 'model': 's6'},
 {'brand': 'audi', 'model': 's8'},
 {'brand': 'audi', 'model': 'sq3'},
 {'brand': 'audi', 'model': 'sq5'},
 {'brand': 'audi', 'model': 'tt'},
 {'brand': 'bmw', 'model': '135i'},
 {'brand': 'bmw', 'model': '3 series'},
 {'brand': 'bmw', 'model': '320'},
 {'brand': 'bmw', 'model': '320i'},
 {'brand': 'bmw', 'model': '320xi'},
 {'brand': 'bmw', 'model': '325i'},
 {'brand': 'bmw', 'model': '328'},
 {'brand': 'bmw', 'model': '328 wagon'},
 {'brand': 'bmw', 'model': '328d'},
 {'brand': 'bmw', 'model': '328xd'},
 {'brand': 'bmw', 'model': '328xi'},
 {'brand': 'bmw', 'model': '330'},
 {'brand': 'bmw', 'model': '330i'},
 {'brand': 'bmw', 'model': '335'},
 {'brand': 'bmw', 'model': '335is'},
 {'brand': 'bmw', 'model': '335xi'},
 {'brand': 'bmw', 'model': '340i'},
 {'brand': 'bmw', 'model': '430'},
 {'brand': 'bmw', 'model': '435i'},
 {'brand': 'bmw', 'model': '440'},
 {'brand': 'bmw', 'model': '440i'},
 {'brand': 'bmw', 'model': '530i'},
 {'brand': 'bmw', 'model': '535d'},
 {'brand': 'bmw', 'model': '550i'},
 {'brand': 'bmw', 'model': 'e36'},
 {'brand': 'bmw', 'model': 'e39'},
 {'brand': 'bmw', 'model': 'e46'},
 {'brand': 'bmw', 'model': 'e83'},
 {'brand': 'bmw', 'model': 'e90'},
 {'brand': 'bmw', 'model': 'e90s'},
 {'brand': 'bmw', 'model': 'e91'},
 {'brand': 'bmw', 'model': 'e92'},
 {'brand': 'bmw', 'model': 'f10'},
 {'brand': 'bmw', 'model': 'f30'},
 {'brand': 'bmw', 'model': 'm2'},
 {'brand': 'bmw', 'model': 'm235'},
 {'brand': 'bmw', 'model': 'm235i'},
 {'brand': 'bmw', 'model': 'm2c'},
 {'brand': 'bmw', 'model': 'm325i'},
 {'brand': 'bmw', 'model': 'm4'},
 {'brand': 'bmw', 'model': 'm50'},
 {'brand': 'bmw', 'model': 'x1'},
 {'brand': 'bmw', 'model': 'x3'},
 {'brand': 'bmw', 'model': 'x5'},
 {'brand': 'bmw', 'model': 'x6'},
 {'brand': 'bmw', 'model': 'zhp'},
 {'brand': 'cadillac', 'model': 'ats'},
 {'brand': 'cadillac', 'model': 'caddy'},
 {'brand': 'cadillac', 'model': "cadillac's"},
 {'brand': 'cadillac', 'model': 'xt5'},
 {'brand': 'chevrolet', 'model': 'vette'},
 {'brand': 'chrysler', 'model': '300c'},           
 {'brand': 'ford', 'model': 'gt350'},
 {'brand': 'ford', 'model': 'gt'},
 {'brand': 'hyundai', 'model': 'g70'},
 {'brand': 'hyundai', 'model': 'g80'},
 {'brand': 'infiniti', 'model': 'g35'},
 {'brand': 'infiniti', 'model': 'g37s'},
 {'brand': 'infiniti', 'model': 'g37x'},
 {'brand': 'infiniti', 'model': 'infinity'},
 {'brand': 'infiniti', 'model': 'jx'},
 {'brand': 'infiniti', 'model': 'm35x'},
 {'brand': 'infiniti', 'model': 'm37'},
 {'brand': 'infiniti', 'model': 'q40'},
 {'brand': 'infiniti', 'model': 'q50s'},
 {'brand': 'infiniti', 'model': 'qx56'},
 {'brand': 'jaguar', 'model': 'jag'},
 {'brand': 'jaguar', 'model': 'rover'},
 {'brand': 'jaguar', 'model': 'xf'},
 {'brand': 'kia', 'model': 'stinger'},
 {'brand': 'lexus', 'model': 'ct200h'},
 {'brand': 'lexus', 'model': 'es350'},
 {'brand': 'lexus', 'model': 'f-sport'},
 {'brand': 'lexus', 'model': 'gs350'},
 {'brand': 'lexus', 'model': 'lexi'},
 {'brand': 'lexus', 'model': 'nx'},
 {'brand': 'lexus', 'model': 'rx350'},
 {'brand': 'mazda', 'model': 'ms3'},
 {'brand': 'mercedes', 'model': 'amg'},
 {'brand': 'mercedes', 'model': 'c250'},
 {'brand': 'mercedes', 'model': 'c250s'},
 {'brand': 'mercedes', 'model': "c250's"},
 {'brand': 'mercedes', 'model': 'c300'},
 {'brand': 'mercedes', 'model': 'c350'},
 {'brand': 'mercedes', 'model': 'c400'},
 {'brand': 'mercedes', 'model': 'c63'},
 {'brand': 'mercedes', 'model': 'cla'},
 {'brand': 'mercedes', 'model': 'mb'},
 {'brand': 'mitsubishi', 'model': 'mitsubishi'},                
 {'brand': 'nissan', 'model': 'quest'},
 {'brand': 'nissan', 'model': 'ultima'},
 {'brand': 'porsche', 'model': 'porsche'},
 {'brand': 'saab', 'model': 'saab'},
 {'brand': 'saab', 'model': 'saabs'},
#  {'brand': 'skoda', 'model': 'skoda'},
 {'brand': 'subaru', 'model': 'b9'},
#  {'brand': 'tesla', 'model': 'tesla'},
 {'brand': 'volvo', 'model': 's60r'}]

In [29]:
extra_mapping = pd.DataFrame(extra_mapping)

In [30]:
combined_mapping = pd.concat([model_brand_mapping, extra_mapping], ignore_index=True)
combined_mapping

       brand    model
0      acura  integra
1      acura   Legend
2      acura    vigor
3      acura      rlx
4      acura      ILX
..       ...      ...
638  porsche  porsche
639     saab     saab
640     saab    saabs
641   subaru       b9
642    volvo     s60r

[643 rows x 2 columns]

In [31]:
# check for duplicates
combined_mapping[combined_mapping.duplicated()].shape

(0, 2)

In [32]:
# turn df into dictionary
models = combined_mapping["model"].tolist()
brands = combined_mapping["brand"].tolist()
mapping_dict = {}

for i in range(len(models)):
    mapping_dict[models[i].lower()] = brands[i]

# mapping_dict

### Replace model in txt to brand

In [33]:
def model_to_brand(lst):
    
    new_lst = []
    for word in lst:
        new_lst.append(mapping_dict.get(word, word))
        
    return new_lst

In [34]:
doc["txt_token_mapped"] = doc["txt_tokenized"].apply(model_to_brand)
doc

,users,time,txt,txt_tokenized,txt_token_mapped,txt_wo_stopwords
0,wishnhigh1,April 2002,The problem is that they are HUGE generalizat...,"[the, problem, is, that, they, are, huge, gene...","[the, problem, is, that, they, are, huge, gene...","[problem, huge, generalizations, talking, japa..."
1,kd6aw1,April 2002,Have found out that with some of the more pow...,"[have, found, out, that, with, some, of, the, ...","[have, found, out, that, with, some, of, the, ...","[found, powerful, car, like, infiniti, chevrol..."
2,fwatson,April 2002,How does your theory explain English cars? A ...,"[how, does, your, theory, explain, english, ca...","[how, does, your, theory, explain, english, ca...","[theory, explain, english, car, country, steep..."
3,dave330i,April 2002,"""Being that it is an automatic I can enjoy my...","[``, being, that, it, is, an, automatic, i, ca...","[``, being, that, it, is, an, automatic, i, ca...","[automatic, enjoy, coffee, shave, talk, cel, p..."
4,blueguydotcom,April 2002,"He did mention ""in rush hour traffic."" Like t...","[he, did, mention, ``, in, rush, hour, traffic...","[he, did, mention, ``, in, rush, hour, traffic...","[mention, rush, hour, traffic, like, bumper-to..."
...,...,...,...,...,...,...
5145,laurasdada,May 2006,"I had a '99 300M, loved it. New 300? Well, th...","[i, had, a, '99, 300m, ,, loved, it, ., new, 3...","[i, had, a, '99, chrysler, ,, loved, it, ., ne...","['99, chrysler, loved, new, 300, styling, sent..."
5146,ivorypearlg,May 2006,I've been in the 300M and 300C... Much differ...,"[i, 've, been, in, the, 300m, and, 300c, ..., ...","[i, 've, been, in, the, chrysler, and, chrysle...","[chrysler, chrysler, different, car, m, drove,..."
5147,shipo,May 2006,"I don't know, maybe it's just me or maybe my ...","[i, do, n't, know, ,, maybe, it, 's, just, me,...","[i, do, n't, know, ,, maybe, it, 's, just, me,...","[know, maybe, maybe, detroit, roots, showing, ..."
5148,dhanley,May 2006,"Actually, the m35x gets 17/24 mpg, same as th...","[actually, ,, the, m35x, gets, 17/24, mpg, ,, ...","[actually, ,, the, infiniti, gets, 17/24, mpg,...","[actually, infiniti, gets, 17/24, mpg, chrysle..."
5149,ivorypearlg,May 2006,So sorry for the comparo... I should have did...,"[so, sorry, for, the, comparo, ..., i, should,...","[so, sorry, for, the, comparo, ..., i, should,...","[sorry, comparo, research, gas, mileage, compa..."

### Remove Stopwords

In [35]:
stop_words = list(stop_words.STOP_WORDS)
punc = ['.',',','!','?',';',':',"'","''", '"','``','(',')','[',']','{','}','-','...','–', '/','\\','&','%','$','#','@','+',
    '*','=','>','<','|','~','_']

AttributeError: 'list' object has no attribute 'STOP_WORDS'

In [37]:
def remove_stopwords(lst):
    
    tokens_wo_stopwords = []
    for word in lst:
        if word not in stop_words:
            if word not in punc:
                tokens_wo_stopwords.append(word)
    return tokens_wo_stopwords

In [38]:
doc["txt_wo_stopwords"] = doc["txt_token_mapped"].apply(remove_stopwords)

In [39]:
doc

,users,time,txt,txt_tokenized,txt_token_mapped,txt_wo_stopwords
0,wishnhigh1,April 2002,The problem is that they are HUGE generalizat...,"[the, problem, is, that, they, are, huge, gene...","[the, problem, is, that, they, are, huge, gene...","[problem, huge, generalizations, talking, japa..."
1,kd6aw1,April 2002,Have found out that with some of the more pow...,"[have, found, out, that, with, some, of, the, ...","[have, found, out, that, with, some, of, the, ...","[found, powerful, car, like, infiniti, chevrol..."
2,fwatson,April 2002,How does your theory explain English cars? A ...,"[how, does, your, theory, explain, english, ca...","[how, does, your, theory, explain, english, ca...","[theory, explain, english, car, country, steep..."
3,dave330i,April 2002,"""Being that it is an automatic I can enjoy my...","[``, being, that, it, is, an, automatic, i, ca...","[``, being, that, it, is, an, automatic, i, ca...","[automatic, enjoy, coffee, shave, talk, cel, p..."
4,blueguydotcom,April 2002,"He did mention ""in rush hour traffic."" Like t...","[he, did, mention, ``, in, rush, hour, traffic...","[he, did, mention, ``, in, rush, hour, traffic...","[mention, rush, hour, traffic, like, bumper-to..."
...,...,...,...,...,...,...
5145,laurasdada,May 2006,"I had a '99 300M, loved it. New 300? Well, th...","[i, had, a, '99, 300m, ,, loved, it, ., new, 3...","[i, had, a, '99, chrysler, ,, loved, it, ., ne...","['99, chrysler, loved, new, 300, styling, sent..."
5146,ivorypearlg,May 2006,I've been in the 300M and 300C... Much differ...,"[i, 've, been, in, the, 300m, and, 300c, ..., ...","[i, 've, been, in, the, chrysler, and, chrysle...","[chrysler, chrysler, different, car, m, drove,..."
5147,shipo,May 2006,"I don't know, maybe it's just me or maybe my ...","[i, do, n't, know, ,, maybe, it, 's, just, me,...","[i, do, n't, know, ,, maybe, it, 's, just, me,...","[know, maybe, maybe, detroit, roots, showing, ..."
5148,dhanley,May 2006,"Actually, the m35x gets 17/24 mpg, same as th...","[actually, ,, the, m35x, gets, 17/24, mpg, ,, ...","[actually, ,, the, infiniti, gets, 17/24, mpg,...","[actually, infiniti, gets, 17/24, mpg, chrysle..."
5149,ivorypearlg,May 2006,So sorry for the comparo... I should have did...,"[so, sorry, for, the, comparo, ..., i, should,...","[so, sorry, for, the, comparo, ..., i, should,...","[sorry, comparo, research, gas, mileage, compa..."

### Brand frequency

In [40]:
txt_combined = []

for i in range(len(doc)):
    txt_combined.extend(doc.loc[i, "txt_wo_stopwords"])

In [41]:
freq_dist = dict(nltk.FreqDist(word for word in txt_combined))
freq_dist

{'problem': 372,
 'huge': 69,
 'generalizations': 4,
 'talking': 203,
 'japanese': 196,
 'exclusivly': 1,
 'honda': 654,
 'toyota': 405,
 'subaru': 370,
 'mazda': 99,
 'isuzu': 4,
 'mitsubishi': 27,
 'daihatsu': 2,
 'suzuki': 21,
 'far': 290,
 'makes': 289,
 'culture': 5,
 'american': 139,
 'european': 88,
 'capable': 46,
 'having': 193,
 'higher': 134,
 'quality': 205,
 '70': 58,
 'car': 5916,
 'help': 99,
 'generalization': 5,
 'stop': 108,
 'brands': 89,
 'nations': 1,
 'found': 144,
 'powerful': 93,
 'like': 1835,
 'infiniti': 1922,
 'chevrolet': 184,
 'difference': 315,
 'performance': 914,
 'practical': 25,
 'standpoint': 12,
 'issue': 145,
 'faster': 180,
 'dream': 17,
 'driving': 774,
 'killing': 4,
 'getting': 324,
 'tickets': 3,
 'time': 603,
 'automatic': 226,
 'love': 268,
 'enjoy': 126,
 'coffee': 6,
 'shave': 4,
 'talk': 90,
 'cel': 3,
 'phone': 34,
 'hug': 5,
 'wife': 146,
 'rush': 18,
 'hour': 28,
 'traffic': 115,
 'feel': 419,
 'urge': 2,
 'shift': 92,
 'manumatic': 12,
 'pretend': 5,
 'stick': 95,
 'ferrari': 44,
 'paddle': 22,
 'shifting': 35,
 'want': 738,
 'clutch': 93,
 'opinion': 223,
 'paulel': 1,
 'cajon': 1,
 'california': 22,
 'theory': 23,
 'explain': 20,
 'english': 8,
 'country': 45,
 'steeped': 2,
 'tradition': 4,
 'producing': 12,
 'poor': 68,
 'little': 381,
 'inovation': 1,
 'look': 474,
 'traditionalist': 1,
 'managed': 23,
 'acura': 2697,
 'produced': 20,
 'stirling': 1,
 'lol====================================': 1,
 'quote': 46,
 'wishnhigh1': 1,
 '====================================': 1,
 'general': 68,
 'reflect': 17,
 'perfectionist': 1,
 'attitude': 22,
 '1pierce': 1,
 'post': 200,
 'virtually': 18,
 'exception': 14,
 'overall': 149,
 'brand': 250,
 'especially': 157,
 'fit': 84,
 'finish': 28,
 'considerably': 9,
 'excels': 5,
 'read': 225,
 'management': 6,
 'accepting': 1,
 'mediocre': 11,
 'craftsmanship': 1,
 'abilities': 7,
 'assembly': 9,
 'line': 207,
 'workers': 1,
 'point': 411,
 'high': 247,
 'level': 200,
 'innovation': 1,
 'german': 122,
 'wankle': 1,
 'rotary': 1,
 'miller': 8,
 'cycle': 6,
 'engines': 129,
 'introduced': 21,
 'vtec': 10,
 'etc': 269,
 'leans': 2,
 'strongly': 24,
 'ceo': 4,
 'bonuses': 1,
 'refinement': 14,
 'polish': 5,
 'falling': 12,
 'wayside': 1,
 'casuality': 1,
 'heavy': 56,
 'handed': 5,
 'style': 104,
 'truly': 41,
 'critical': 9,
 'things': 255,
 'mention': 96,
 'bumper-to-bumper': 1,
 'demands': 2,
 'driver': 269,
 'books': 5,
 'let': 237,
 'apply': 17,
 'gas': 279,
 'push': 51,
 'glide': 3,
 'repeat': 15,
 'snooze': 1,
 'edmunds': 90,
 'new': 950,
 'feature': 49,
 'called': 80,
 'true': 194,
 'cost': 200,
 'listed': 29,
 'researches': 1,
 'vehicles': 220,
 'heading': 10,
 '13': 16,
 'subjects': 8,
 'hyundai': 176,
 'particular': 45,
 'vehicle': 293,
 'useful': 27,
 'comparing': 119,
 'takes': 75,
 'purchase': 75,
 'price': 535,
 'adds': 18,
 'depreciation': 17,
 'insurance': 52,
 'license': 9,
 'fees': 9,
 'gives': 52,
 'figure': 72,
 '5-yr': 1,
 'ownership': 39,
 'tailor': 1,
 'zip': 4,
 'code': 5,
 'tried': 48,
 'chance': 47,
 'person': 107,
 '38k': 11,
 'volkwagen': 109,
 'w8': 12,
 'entry': 178,
 '-level': 1,
 'luxury': 693,
 'sedan': 967,
 'category': 134,
 'upcoming': 37,
 'year': 367,
 'drive': 997,
 'bimmer': 112,
 'night': 31,
 'day': 210,
 'volkswagen': 215,
 'nice': 318,
 'inside': 87,
 'good': 817,
 'cruising': 31,
 'handling': 510,
 'akin': 7,
 'riding': 13,
 'pig': 10,
 'hurry': 4,
 'beg': 7,
 'differ.while': 1,
 'admit': 70,
 'biased': 46,
 'obviously': 82,
 'bought': 210,
 'believe': 318,
 'sedan.i': 3,
 'test': 517,
 'drove': 267,
 'bmw': 4479,
 'making': 122,
 'final': 44,
 'choice': 172,
 'suppose': 31,
 'term': 46,
 '145': 9,
 '146': 132,
 'defined': 17,
 'number': 137,
 'ways': 44,
 'offers': 82,
 '150': 40,
 'don': 33,
 't.': 5,
 'isn': 3,
 't': 95,
 'recent': 72,
 'nissan': 483,
 'tag': 13,
 'straight': 73,
 'acceleration': 155,
 'instance': 28,
 'literature': 3,
 'quotes': 20,
 '0': 42,
 '60': 126,
 '6.5': 16,
 'sec': 44,
 'pretty': 269,
 'quick': 55,
 '4': 209,
 'door': 61,
 'fearless': 1,
 'prediction': 1,
 'future': 70,
 'numbers': 256,
 'sec.': 2,
 'claims': 13,
 'quarter': 24,
 'mile': 92,
 '15.0': 2,
 '94': 5,
 '95.': 1,
 'base': 90,
 '2000': 46,
 'comparison': 192,
 'included': 67,
 'lincoln': 60,
 'ls8': 6,
 'sport': 428,
 'audi': 988,
 '2.7tt': 1,
 'tested': 87,
 'identical': 22,
 'curb': 7,
 'weight': 186,
 'wheel': 179,
 'tire': 100,
 'size': 176,
 'tiptronic': 9,
 'hp': 491,
 'tq': 6,
 '250': 38,
 '258.': 1,
 'results': 90,
 '6.6': 5,
 '15.1': 3,
 '94.': 1,
 '270': 32,
 '273': 1,
 'ought': 14,
 'slightly': 60,
 'better': 996,
 'll': 9,
 'btw': 87,
 'turned': 48,
 '7.5': 7,
 '15.7': 3,
 '90.': 2,
 'previous': 82,
 'reasonable': 32,
 'feels': 94,
 'quicker': 27,
 'setting': 15,
 'aside': 34,
 'notorious': 3,
 'un-reliability': 1,
 's': 127,
 'butt': 20,
 'dyno': 11,
 'pull': 43,
 'lateral': 12,
 'g': 482,
 '3': 870,
 'series': 578,
 'w/sport': 14,
 'package': 295,
 'certainly': 121,
 'aggressive': 23,
 'rubber': 22,
 'expect': 96,
 'provide': 31,
 'grip': 23,
 'entertainment': 6,
 'value': 291,
 'sane': 4,
 'public': 35,
 'road': 363,
 'speed': 282,
 'opinions.cheers': 1,
 'rayoff': 1,
 'shortly': 5,
 'break-in': 9,
 'miles': 249,
 'lunch': 17,
 'recently': 48,
 'went': 109,
 'list': 154,
 'heaven': 6,
 'best': 648,
 'shifter/clutch': 1,
 'power': 504,
 'great': 543,
 'motor': 77,
 'fas': 1,
 'smoothness': 13,
 'interior': 509,
 'average': 118,
 'leather': 126,
 'wood': 40,
 'helps': 30,
 'dig': 23,
 "don't.330i": 1,
 'find': 271,
 'linear': 13,
 'sensation': 5,
 'thrust': 11,
 'lacking': 31,
 'sunroof': 32,
 'std': 10,
 'plus': 120,
 '17': 39,
 'wheels': 187,
 'all-seasons': 18,
 'pricy.is300-': 1,
 'manual': 467,
 'tranny': 128,
 'smooth': 89,
 'hate': 52,
 'claustrophobic': 3,
 'chintzy': 1,
 'x-type': 230,
 'liked': 82,
 '3.0l': 30,
 'grey': 7,
 'stained': 1,
 'maple': 4,
 'jaguar': 167,
 'nearly': 86,
 'purchased': 38,
 'british': 12,
 'racing': 77,
 'green': 21,
 'ivory': 4,
 'beautiful': 57,
 'walnut': 1,
 'options': 124,
 'riciulously': 1,
 'overpriced': 42,
 'bargain': 13,
 'hunter': 1,
 'bad': 271,
 'ride': 237,
 'brakes': 99,
 'strong': 41,
 'thing': 369,
 '0-60': 221,
 'advertised': 3,
 'nicest': 5,
 'overall.a4': 1,
 '3.0': 102,
 'porky': 6,
 'ponderous': 3,
 'easily': 70,
 'worst': 54,
 'available': 136,
 'segment': 119,
 'barely': 24,
 'tell': 170,
 'leatherette': 8,
 'cheap': 97,
 'opt': 21,
 'way': 596,
 'better.s4': 1,
 '2001': 44,
 'fast': 204,
 'thought': 209,
 '99': 42,
 'ford': 289,
 'rockets': 3,
 'impressive': 45,
 'nicer': 25,
 'seat': 407,
 'support': 40,
 'gloomy': 1,
 '250bhp': 2,
 '258': 6,
 'lb': 12,
 'ft.': 11,
 'audible': 6,
 'delight': 6,
 '2002': 75,
 'sounds': 76,
 'amazing': 43,
 'compared': 180,
 'think': 1240,
 'backpressure': 1,
 'gobbled': 1,
 'exhaust': 43,
 'note': 50,
 'perfect': 71,
 'giving': 31,
 'away': 145,
 '9000': 2,
 'msrp': 138,
 'people': 877,
 'definitely': 113,
 'buying': 199,
 'looked': 101,
 'dated': 8,
 'ones.g35': 1,
 'showroom': 8,
 'impressed': 51,
 'interested': 55,
 'bit': 230,
 'torque': 355,
 'lacked': 13,
 'neat': 11,
 'touches': 5,
 'rear': 199,
 'passengers': 21,
 'dynamics': 42,
 'left': 105,
 'cold': 26,
 'maybe': 337,
 'early': 57,
 'model': 201,
 'dicker': 1,
 'sticker': 40,
 'close.lincoln': 1,
 'ls': 46,
 'v6': 180,
 'crisp': 7,
 '5': 310,
 'engine': 627,
 'thrashy': 1,
 'revs': 13,
 'particularly': 21,
 'needs': 122,
 'revved': 4,
 'susp.acura': 1,
 'tl-s': 20,
 'auto': 277,
 'incredible': 20,
 'favourite': 4,
 'sound': 101,
 'concerned': 58,
 'so-so': 3,
 'excellent': 98,
 'price.volvo': 1,
 'volvo': 234,
 't5': 23,
 'chose': 32,
 'come': 248,
 '3bhp': 1,
 '15': 65,
 'lb.ft': 4,
 'close': 184,
 'lighter': 30,
 'fwd': 547,
 'steer': 150,
 'evident': 9,
 '8/10ths': 5,
 'question': 122,
 'stereo': 45,
 'steering': 209,
 'falls': 24,
 'grabby': 3,
 'decent': 64,
 '100km/h': 1,
 'pulls': 27,
 'hardest': 2,
 'consideration': 26,
 'cheaper': 59,
 'cts': 336,
 'sure': 384,
 'conclusion': 26,
 'nitpick': 2,
 'fine': 134,
 'driveway': 15,
 'honestly': 38,
 'grave': 2,
 'misfortune': 3,
 'league': 19,
 'lesser': 17,
 'acura/lexus/jag': 1,
 'gasp': 3,
 'rough': 27,
 'felt': 143,
 'lots': 87,
 'hard': 233,
 'plastic': 21,
 'substantial': 13,
 'soft-touch': 3,
 'materials': 44,
 'throttle': 56,
 'response': 31,
 'weak': 29,
 'required': 17,
 'excessive': 7,
 'modulation': 1,
 'awkward': 2,
 'pedal': 49,
 'rolling': 17,
 'bed': 4,
 '1998': 10,
 'technology': 43,
 'brake': 63,
 'distribution': 34,
 'salesmen': 3,
 'kept': 20,
 'insisting': 2,
 'channel': 12,
 'abs': 17,
 'mags': 49,
 'slow': 67,
 'reacting': 5,
 'boat': 35,
 'turn': 122,
 'undulate': 2,
 'slowly': 10,
 'directions': 2,
 'fact': 282,
 'salesguy': 4,
 'asked': 50,
 'told': 46,
 'real': 247,
 'competitor': 24,
 'germans': 30,
 'snorted': 2,
 'reminded': 8,
 'cadillac': 179,
 'sports': 240,
 'yeah': 126,
 'sit': 38,
 'lot': 366,
 'heaps': 1,
 'congradulations': 1,
 'looking': 339,
 'hope': 110,
 'happy': 104,
 'saw': 82,
 'morning': 22,
 'fun': 312,
 'hey': 59,
 'blueguy': 68,
 'wrond': 1,
 'know': 769,
 'type': 110,
 'gearbox': 10,
 '300': 109,
 'twisting': 1,
 'need': 387,
 'honesty': 2,
 'incredibly': 13,
 'easy': 73,
 'modulate': 2,
 'hevay': 1,
 'purpose': 19,
 'missed': 24,
 'gear': 126,
 'said': 418,
 '6-speed': 90,
 'jagboyxkr': 1,
 'right': 441,
 'end': 219,
 '10000cdn': 1,
 'ridiculous': 27,
 'needed': 46,
 'split': 20,
 'fold': 10,
 'bundled': 2,
 'xenons': 16,
 'twice': 33,
 'asmuch': 1,
 '1600.00': 1,
 '1600.00.': 1,
 'unbeleivable': 1,
 'lease': 111,
 'rate': 45,
 'low': 141,
 '1.9': 5,
 'helped': 10,
 'difference.i': 4,
 'care': 171,
 'anybody': 27,
 'says': 102,
 'driven': 296,
 'imo': 110,
 'canada': 12,
 'awd': 519,
 'recommended': 14,
 'gets': 171,
 'slaughtered': 1,
 'priced': 46,
 'equal': 66,
 'leader': 23,
 'class': 358,
 'suicide': 1,
 'hot': 45,
 'market.the': 2,
 'broken': 31,
 'nicely': 35,
 'expected': 33,
 'sheer': 11,
 '100km': 1,
 'h': 14,
 'beat': 108,
 'start': 111,
 '18': 43,
 'wheeler': 1,
 'imagine': 58,
 'big': 285,
 'rig': 2,
 'thanks': 157,
 'informative': 4,
 'congratulations': 3,
 'eat': 38,
 'sandwich': 2,
 'roll': 27,
 'up/down': 3,
 'windows': 35,
 'test-drove': 5,
 "'98a4quattro": 1,
 '2.8': 8,
 '325ci,325xi': 1,
 'loved': 44,
 'bimmers': 38,
 'steptronic': 16,
 'absolute': 18,
 'joy': 11,
 '1993dodge': 1,
 'p.o.s': 1,
 '150miles': 1,
 'complaints': 8,
 'extremely': 31,
 'satisified': 1,
 'decision': 89,
 'eating': 8,
 'drinking': 3,
 'windowing': 1,
 'lol': 82,
 'sunroofing': 1,
 'actually': 304,
 'owned': 118,
 'carrying': 5,
 'tasks': 2,
 'walking': 4,
 'got': 454,
 'guess': 266,
 'guys': 106,
 'experienced': 21,
 'manuals': 46,
 'someday': 6,
 'rich': 20,
 'famous': 7,
 'porsche': 96,
 'sequential': 11,
 'shifter': 44,
 'stones': 4,
 'casted': 2,
 'remind': 7,
 'forums.cmnott': 1,
 'respect': 45,
 'disagree': 57,
 'owner': 72,
 'personally': 87,
 '3000': 6,
 'second': 168,
 '3.0.': 14,
 'dissapointed': 3,
 'th': 8,
 '250-260': 1,
 'solve': 1,
 'highway': 134,
 'speeds': 53,
 'honetsly': 1,
 'mondeo': 8,
 'excuse': 25,
 'going': 486,
 'fall': 49,
 'apart': 16,
 'negative': 34,
 'headlines': 2,
 'oh': 115,
 'came': 132,
 'different': 387,
 'considering': 87,
 'won': 48,
 'me.acceleration': 1,
 'times': 184,
 'clearly': 37,
 'states': 20,
 'subjectively': 4,
 'instrumented': 1,
 'runs': 23,
 'revealed': 6,
 'measured': 18,
 '0-to-60-mph': 1,
 '6.3': 12,
 'seconds': 99,
 '0.2': 3,
 'slower': 37,
 'small': 156,
 'v-6': 27,
 'similarly': 20,
 'bavarian': 1,
 'in-line': 6,
 'track': 200,
 'quickest': 4,
 'accompanied': 2,
 'nice-but-distant': 1,
 'goes': 93,
 'mph': 274,
 'undercutting': 2,
 'boy-racer': 3,
 'lexus': 483,
 '7.1': 6,
 'mercedes': 699,
 'c320': 31,
 '6.8': 7,
 'matching': 9,
 '-jaguar': 1,
 '.-audi': 1,
 'transmission.handling': 1,
 'handle': 95,
 'r': 61,
 'chassis': 56,
 'redolent': 2,
 'complained': 8,
 'work': 172,
 'modern': 26,
 'well-balanced': 2,
 'balance': 66,
 'corners': 61,
 'long': 284,
 'stretch': 13,
 'curving': 2,
 'mountain': 17,
 'inevitably': 5,
 'walkietalkies': 1,
 'carry': 21,
 "'this": 3,
 'curves': 19,
 'confidence-inspiring': 2,
 'precise': 24,
 'turn-in': 9,
 'optional': 26,
 '3.0-liter': 2,
 '4-cam': 2,
 'expensive': 140,
 '2.5': 51,
 'version': 110,
 'respectable': 8,
 '231': 2,
 'bhp': 4,
 'keeping': 33,
 'company': 99,
 'effort': 16,
 'suspension': 166,
 'engineers': 33,
 'wanted': 139,
 "'connected": 1,
 'relaxed': 5,
 "'and": 1,
 'wrap': 2,
 'given': 123,
 'soft': 91,
 'delivers': 6,
 'surprisingly': 5,
 'dynamically': 4,
 'all-wheel-drive': 14,
 'looks': 272,
 'handles': 72,
 'superb': 9,
 'accomplishes': 1,
 'goals': 7,
 'rubbery': 4,
 'tuning': 12,
 'short': 73,
 'missing': 39,
 'firm': 21,
 'rally-car': 1,
 'edge': 31,
 'sense': 82,
 'precision': 14,
 'delightful': 2,
 'sporty': 89,
 'despite': 37,
 '750': 6,
 'noticed': 41,
 'whoop-de-dos': 1,
 'desert': 3,
 "'considerable": 1,
 'excitement': 14,
 'simply': 148,
 'floaty': 5,
 'loose': 15,
 'pay': 172,
 'noted': 23,
 '220-bhp': 1,
 'dohc': 8,
 'aluminum': 25,
 'reasonably': 22,
 'peppy': 3,
 'pack': 31,
 'trend': 37,
 'zf': 2,
 'servotronic': 1,
 'ii': 5,
 'variable-ratio': 1,
 'speed-sensitive': 3,
 'rack-and-pinion': 2,
 'system': 226,
 'matches': 5,
 'previously': 12,
 'unrivaled': 1,
 'served': 6,
 'placement': 5,
 'laser-guided': 1,
 'feedback': 29,
 'complete': 26,
 'confidence': 9,
 'fingertips': 1,
 '120': 14,
 'offering': 30,
 'similar': 111,
 'levels': 11,
 'communication': 3,
 'skyline': 8,
 'gt-r': 10,
 'racy': 4,
 'piece': 18,
 'criticized': 5,
 'feeling': 51,
 'c': 223,
 'd': 141,
 'vibrates': 3,
 'peak': 15,
 'terrific': 14,
 'enthusiast': 47,
 'goods': 3,
 '.forbes': 1,
 'x': 57,
 'boast': 3,
 'agree': 298,
 'known': 47,
 'develped': 1,
 '22': 20,
 'years': 466,
 'iv': 2,
 'newest': 6,
 'divides': 2,
 '50/50': 16,
 'slip': 16,
 'detected': 3,
 'systems': 38,
 'minor': 34,
 'turbocharged': 10,
 '1.8-liter': 1,
 '4-cylinder': 5,
 'versions': 34,
 'larger': 61,
 'prove': 37,
 'certain': 77,
 'conditions': 59,
 'setups': 7,
 'later': 60,
 'banned': 5,
 'races': 27,
 'advantages.jaguar': 1,
 'uses': 39,
 'designed': 54,
 'traction': 128,
 '40': 52,
 'specially': 6,
 'roller': 3,
 'bearings': 2,
 'fitted': 4,
 'tops': 12,
 'strut': 2,
 'towers': 1,
 'body': 102,
 'advanced': 12,
 'mechanism': 2,
 'rwd': 679,
 'unlike': 23,
 'produces': 14,
 'interphere': 1,
 'purity': 2,
 'steering.forbes': 1,
 'stated': 54,
 'seemless': 2,
 'transparent': 2,
 '40/60': 3,
 'viscous': 1,
 'coupling': 1,
 'dynamic': 9,
 'stability': 18,
 'control': 105,
 'rivals': 6,
 'vaunted': 4,
 'wet-': 1,
 'dry-': 1,
 'weather': 48,
 'balanced': 38,
 'understeer': 29,
 'set': 147,
 'safe': 69,
 'secure': 12,
 'signals': 7,
 'happen': 51,
 'plenty': 55,
 'adjust': 10,
 'braking': 85,
 'features': 165,
 'vented': 6,
 'solid': 61,
 'discs': 5,
 's-type.road': 1,
 'tests': 86,
 'repeatable': 2,
 'stopping': 9,
 'distances': 3,
 '118': 5,
 '80': 48,
 '208': 3,
 'articles': 22,
 'exceptional': 3,
 'comparable': 76,
 'laps': 4,
 'castle': 1,
 'combe': 1,
 'racetrack': 20,
 'allowed': 14,
 'explore': 2,
 'outer': 3,
 'reaches': 2,
 'proved': 8,
 'completely': 58,
 'benign': 3,
 'limit': 52,
 'grinds': 1,
 'tires': 439,
 'excessively': 1,
 'tail': 21,
 'flick': 3,
 'simultaneously': 1,
 'lifting': 3,
 'four-wheel': 3,
 'disc': 12,
 ...}

In [42]:
brand_dist = {}
brand_list = model_brand_mapping["brand"]

for brand in brand_list:
    brand_dist[brand] = freq_dist.get(brand, None)

In [43]:
brand_dist

{'acura': 2697,
 'audi': 988,
 'bmw': 4479,
 'buick': 29,
 'cadillac': 179,
 'car': 5916,
 'chevrolet': 184,
 'chrysler': 121,
 'dodge': 67,
 'ford': 289,
 'honda': 654,
 'hyndai kia': None,
 'hyundai': 176,
 'hyundai,': None,
 'hyundai.': None,
 'infiniti': 1922,
 'kia': 25,
 'kia,': None,
 'kia.': None,
 'lincoln': 60,
 'mazda': 99,
 'mercedes': 699,
 'mercury': 9,
 'mitsubishi': 27,
 'nissan': 483,
 'nissan.': None,
 'pontiac': 68,
 'problem': 372,
 'saturn': 12,
 'seat': 407,
 'sedan': 967,
 'subaru': 370,
 'suzuki': 21,
 'toyata': None,
 'toyota': 405,
 'volkswagen': 215,
 'volkwagen': 109,
 'volvo': 234}

In [44]:
cleaned_brands = []
freq_count = []

for key, value in brand_dist.items():
    if value is not None:
        if key not in ("car", "problem", "seat"):
            cleaned_brands.append(key)
            freq_count.append(value)

In [45]:
brands_dist_df = pd.DataFrame({"brand": cleaned_brands,
                              "freq_count": freq_count})

In [46]:
sorted_freq_dist = brands_dist_df.sort_values("freq_count", ascending = False).reset_index(drop = True)

In [47]:
# show top 10
sorted_freq_dist.head(10)

      brand  freq_count
0       bmw        4479
1     acura        2697
2  infiniti        1922
3      audi         988
4     sedan         967
5  mercedes         699
6     honda         654
7    nissan         483
8    toyota         405
9    subaru         370

In [ ]:
# Convert the document-term matrix to a dense array
dtm_array = dtm.toarray()

In [ ]:
# Calculate lift between terms
term_lift = np.dot(dtm_array.T, dtm_array)
term_occurrence = np.sum(dtm_array, axis=0)
# + 1e-8 is added to avoid division by zero
lift_matrix = term_lift / (np.outer(term_occurrence, term_occurrence) + 1e-8)

In [ ]:
# Calculate dissimilarity matrix based on lift
dissimilarity_matrix = 1 / lift_matrix
print(dissimilarity_matrix)

In [ ]:
# Apply MDS to reduce dimensionality to 2D
mds = MDS(n_components=2, dissimilarity='precomputed', random_state=42) 
# create two components for each of the feature/word we have
mds_result = mds.fit_transform(dissimilarity_matrix)

In [ ]:
# Plot the MDS result
plt.scatter(mds_result[:, 0], mds_result[:, 1])

# Annotate points with feature names
for i, txt in enumerate(feature_names):
    plt.annotate(txt, (mds_result[i, 0], mds_result[i, 1]))

plt.title('MDS Plot based on Lift for Non-stopwords')
plt.xlabel('MDS Dimension 1')
plt.ylabel('MDS Dimension 2')
plt.show()